body {
    font-family: 'Roboto Slab', serif;
}

.background-image {
    background: url(../images/bistro.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}


/* Navbar */
.navalert-container {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(205, 212, 205, 0.85);
}

.container-fluid {
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

/* booking form layout */

.form_layout {
    background-color: rgba(202, 213, 202, 0.85);
    position: relative;
    padding-bottom: 20px;
    margin-top: 10px;
    width: fit-content;
}

.booking_header {
    text-align: center;
}

#id_special_request_requirments {
    height: 50px;
}

.booking_form {
    line-height: 5px;
}

.form-group {
    margin-bottom: 1rem;
}

/* index page layout */

.p-top {
    text-align: center;
    line-height: 30px;
    background-color: rgba(205, 212, 205, 0.85);
    color: rgba(10, 10, 10, 0.85);
    padding: 100px 50px;
}

/* Footer */

.footer {
    background-color: rgba(205, 212, 205, 0.85);
    color: rgba(63, 61, 61, 0.85);
    position: relative;
}