body {
    font-family: 'Roboto Slab', serif;
}

.background-image {
    background: url(../images/bistro.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}


.p-top {
    text-align: center;
    line-height: 30px;
    background-color: rgba(199, 126, 126, 0.85);
    color: rgba(129, 124, 216, 0.85);
    padding: 100px 50px;
}

/* Navbar */
.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(199, 126, 126, 0.85);
    color: rgba(129, 124, 216, 0.85);
}

.footer {
    background-color: #27c32c!important;
}

.container-fluid {
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

/* booking form layout */

.form_layout {
    background-color: aquamarine;
}