body {
    font-family: 'Roboto Slab', serif;
}

.background-image {
    background: url(../images/background/bistro.resize.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.button_color
.btn {
    background-color: rgba(109, 132, 106, 0.85);
}

/* Navbar */
.navalert-container {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(205, 212, 205, 0.85);
}

.container-fluid {
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

/* booking form layout */

.form_layout {
    background-color: rgba(202, 213, 202, 0.85);
    position: relative;
    padding-bottom: 20px;
    margin-top: 10px;
    width: fit-content;
}

.booking_header,
.login_heading,
.logout_heading,
.sign_up_heading {
    text-align: center;
}

#id_special_request_requirments {
    height: 50px;
}

.booking_form {
    line-height: 5px;
}

.form-group {
    margin-bottom: 1rem;
}

.sign_in_form {
    padding: 20px;
    margin: 20px;
}

.signout_content {
    text-align: center;
}

.booking_view
 {
    background-color: rgba(202, 213, 202, 0.85);
    text-align: center;
 }

 .your_booking_table {
    line-height: 1;
    padding: 20px;
    background-color: rgba(202, 213, 202, 0.85);
 }

/* index page layout */

.p-top {
    text-align: center;
    line-height: 30px;
    background-color: rgba(205, 212, 205, 0.85);
    color: rgba(10, 10, 10, 0.85);
    padding: 50px 50px;
}

/* Menu page layout */

.menu {
    text-align: center;
    line-height: 30px;
    background-color: rgba(205, 212, 205, 0.85);
    color: rgba(10, 10, 10, 0.85);
    padding: 20px 20px;
    margin-top: 5px;
}

/* Footer */

.footer {
    background-color: rgba(205, 212, 205, 0.85);
    color: rgba(63, 61, 61, 0.85);
    position: relative;
}

.facebook {
    color: blue;
}

.twitter {
    color: rgb(78, 202, 243);
}

.instagram {
    color: rgb(173, 36, 210);
}

.youtube {
    color: rgb(210, 36, 36);
}