body {
    font-family: 'Roboto Slab', serif;
    background-color: brown;
}

.nav-container {
    background: url(../images/bistro.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}