{% extends 'booking_service/base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<div class="container form_layout">
    <div class="row your_booking_table">
        <div class="card">
            <div class="booking_view">
                <form method="post" class="booking_form">

                    {% csrf_token %}
                    <h2>Your Booking</h2>
                    <table class="your_booking_table">
                        {% for data in bookings %}
                        <tr>
                            <td>{{ booking }}</td>
                            <td>{{ data.last_name }}</td>
                            <td>{{ data.time }}</td>
                            <td>{{ data.date }}</td>
                            <td>{{ data.number_of_guests }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <a href="{% url 'index' %}" class="btn btn-danger">Cancel</a>
                    <button type="submit" class="btn btn-success button_color">Update Booking</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}