{% extends 'booking_service/base.html' %}
{% block content %}

{% if user.is_authenticated %}
<div class="container form_layout">
    <div class="row">
        <h2 class="booking_header">hello</h2>
        <div class="card mb-4 mt-3">
            <div class="card-body">
                <form method="post" class="booking_form">

                    {% csrf_token %}
                    <h2>your booking</h2>
                    <table>
                        {% for data in bookings %}
                        <tr>
                            <td>{{ data.first_name }}</td>
                            <td>{{ data.last_name }}</td>
                            <td>{{ data.time }}</td>
                            <td>{{ data.date }}</td>
                            <td>{{ data.number_of_guests }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <a href="{% url 'index' %}" class="btn btn-danger btn-signup">Cancel</a>
                    <button type="submit" class="btn btn-success btn-signup btn-lg">Update Booking</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}