{% extends "booking_service/base.html" %}

{% block content %}

<div class="container container-fluid">
<div class="row">
    <div class="nav-container">
        <p class="p-top">The corner bistro opened its doors in 2012 and since then been one of the top restaurants in
          Dublin. We are
          small,
          family run restaurant, serving delicious food using only freshest Irish ingredients. We really look forward to
          having you here.</p>
      </div>
</div>
</div>

{%endblock%}